:root {
  --main: #542344;
  --background: #ebf5ee;
  --secondary: #bfd1e5;
  --text: #1c7293;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

p {
  font-size: 0.9rem;
  margin: 0;
  color: var(--main);
}
h2,
h3,
h4 {
  color: var(--text);
  margin: 0 0 20px 0;
  font-size: 1rem;
}

.heading {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
header img {
  margin-right: 60px;
}
h1 {
  margin: 5px 20px;
  font-size: 50px;
  color: var(--background);
}
.heading p {
  margin: 5px 20px;
  font-size: 1.5em;
  color: var(--secondary);
}

section,
header {
  display: flex;
  justify-content: center;
}

header.background {
  background: linear-gradient(30deg, var(--text), var(--secondary));
}

.intro {
  background: var(--background);
}

.edu {
  background: linear-gradient(30deg, var(--secondary), var(--background));
}
.pro {
  background: var(--background);
}
.cont {
  background: var(--main);
}

.container {
  display: flex;
  height: 300px;
  align-items: center;
  gap: 80px;
  justify-content: space-between;
  width: 90%;
}

.itroduction {
  align-items: center;
  gap: 50px;
  justify-content: start;
}

.itroduction h2 {
  font-size: 2rem;
}

.itroduction img {
  border-radius: 50%;
  border: solid 2px var(--text);
}

.education {
  align-items: stretch;
  height: auto;
  gap: 60px;
  justify-content: space-between;
  padding: 60px 0;
}

.education .item {
  flex: 1 1 250px;
  padding: 30px 30px;
  background-color: var(--background);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.projects {
  height: auto;
}
.projects-b {
  flex-direction: row;
  margin: 60px 0;
  display: flex;
  gap: 50px;
}

.projects-b img {
  border-right: solid 3px var(--secondary);
  height: 150px;
}
.projects-b .item {
  flex: 1 1 250px;
  display: flex;
  background: var(--secondary);
  margin: 0;
  padding: 0;
  gap: 30px;
  align-items: center;
}
.projects-b p {
  color: var(--background);
  margin-right: 30px;
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: var(--main);
}
a:active {
  color: var(--background);
}
a:visited {
  color: purple;
}

.contacts {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  height: 100px;
  gap: 80px;
}

.contacts h4 {
  color: var(--background);
  margin-bottom: 10px;
  text-align: center;
}

.contacts p {
  font-size: 0.8rem;
  color: var(--secondary);
  text-align: center;
}

@media (max-width: 1200px) {
  .projects {
    justify-content: stretch;
  }
  .projects-b {
    flex-direction: column;
  }
  .projects-b img {
    height: 250px;
  }
  .education {
    flex-wrap: wrap;
  }
  .education .item {
    flex: 1 0 250px;
  }
}
@media (max-width: 750px) {
  .heading {
    width: 100%;
  }
  header .container {
    gap: 30px;
    flex-direction: column;
    height: auto;
    padding: 23px 0;
  }
  header img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .heading {
    width: 100%;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 0.8rem;
  }
  h2,
  h3,
  h4 {
    font-size: 0.9rem;
  }
  .itroduction h2 {
    font-size: 1.5rem;
  }
  header .container {
    gap: 30px;
    flex-direction: column;
    height: auto;
    padding: 23px 0;
  }
  header img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .itroduction {
    flex-direction: column;
    padding: 30px 0;
    height: auto;
  }
  .education .item {
    flex: 1 1 200px;
  }
  .projects {
    justify-content: center;
  }
  .projects-b .item {
    flex-direction: column;
    align-items: center;
  }
  .item-b {
    width: 100%;
    padding-bottom: 30px;
  }
  .projects-b p,
  a {
    margin-left: 30px;
  }
  .projects-b img {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: solid 4px var(--main);
  }
  .contacts {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
}
